@app.route("/")
@app.route("/login")
def login():
    try:
        session.clear()

        conn = get_csdb_connection()
        cursor = conn.cursor()

        cursor.execute("SELECT SYSTEM_USER")
        windows_user = cursor.fetchone()[0]

        # Take only username after slash
        username = windows_user.split("\\")[-1].upper()

        session["user"] = username
        session["windows_user"] = windows_user
        session["is_admin"] = username in ADMIN_USERS

        conn.close()

        return redirect(url_for("dashboard"))

    except Exception as e:
        return f"Windows Login Error: {str(e)}"
